
html{
    

    font-size: 62%;
}




.cont{
    
    position: absolute;
    left: 10rem;
    right: 10rem;
    margin-top: 10rem;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 3rem;
    

}
.array{
    width:0.6rem;
    
    display: inline-block;
    margin: 0.1rem;
    border-radius: 0.4rem;
    
   
}
button{
    display: inline-block;
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: #67c5ff;
    border: solid .2rem #67c5ff;
    border-radius: .3rem;
    transition: .4s;
    background: rgb(17, 6, 65);
    font-size: 1.5rem;
    margin-left: 3rem;
    
}

button:active{
    display: inline-block;
    padding: 0.3rem .1rem;
    text-decoration: none;
    color: #67c5ff;
    border: solid .3rem #67c5ff;
    border-radius: .3rem;
    transition: .4s;
    margin:.3rem;
    size: 0.5rem;

} 
button:disabled:hover{
    opacity: 0.7;
    cursor: not-allowed;
}
button:hover {
    background: #67c5ff;
    color: white;
}
.btns{
    display :inline;
}
.form-label{
    color: white;
    font-size: 3rem;
    margin-left: 2.5rem;
    font-family: cursive;
}
input[type=range] {
  
    width: 10rem;  
    
    height: 1rem;
  }

.ali{
    
   
    justify-content: center;
    align-items: center;
    text-align: center;
    display:block;

overflow:auto;

height: 100%;
   
    

}
.styles_typicalWrapper__1_Uvh{
    color:white;
    margin: 0px;
    margin-left: 10rem;
    margin-right: 10rem;
    
}

.setbtn{
    margin-bottom: 4.0rem;
    margin-top: 1.5rem;
    

}


@font-face {
  font-family: scriptina;
  src: url(SCRIPTIN.ttf);
}
@font-face {
    font-family: reg;
    src: url(Obelique.ttf);
  }
@media(max-width:998px){
    html{font-size:30%;}
    
}
@media(max-width:417px){
    html{font-size:14.8%;}
    
}
.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  }
  
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .font-effect-neon{
    margin-top: 18rem;
  }

@font-face {
  font-family: scriptina;
  src: url(SCRIPTIN.ttf);
}

@font-face {
  font-family: hel;
  src: url(hello-denver-display.denver-display-regular-regular.ttf);
}
.ftt{
    
    
   
    margin: 2rem;
}
@font-face {
  font-family:Rob ;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
} 


  ul {
    position:absolute;
    top:115rem;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:20rem;
    font-family: 'Rob', sans-serif;
  }
  
  ul li {
    list-style:none;
    margin:0 .5rem;
  }
  
  ul li a .fa {
    font-size: 4rem;
    color: #262626;
    line-height:8rem;
    transition: .5s;
    padding-right: 1.4rem;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 3rem;
    color: #262626;
    letter-spacing: .4rem;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:21rem;
    height:8rem;
    background: #fff;
    text-align:left;
    padding-left: 2rem;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -2rem 2rem 1rem rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:1rem;
    left:-2rem;
    height:100%;
    width:2rem;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-2rem;
    left:-1rem;
    height:2rem;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -5rem 5rem 5rem rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  ul li:hover:nth-child(2) a{
    background: #00aced;
  }
  ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }
  
  ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
  ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
  ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }
  
  ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  ul li:hover:nth-child(5) a:after{
    background: #af8a92;
  }
  ul li:hover:nth-child(5) a{
    background: #837c7d;
  }
  ul li:hover:nth-child(5) a:before{
    background: #4d3a3d;
  }
  ul li:hover:nth-child(5) a:after{
    background: #d1c4c6;
  }



  












  
  
  .phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    justify-content: center;
    border-radius: 10px;
    animation: rotate 1.5s ease-in-out infinite alternate;
    display: none; 
    
    
  }
  
  .message {
    color: white;
    font-size: 1em;
    margin-top: 15rem;
    display: none;
    margin-left: 10rem; 
    justify-content: center;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    50% {
      transform: rotate(-90deg)
    }
    100% {
      transform: rotate(-90deg)
    }
  }
  
  @media only screen and (max-device-width: 1000px) and (orientation: portrait) {
   
    
    .body{height: 100%;
      width: 100%;

    }
    #root {
      width: 100%;

    
      opacity: 0;
    }
    .phone, .message {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
      margin-top: 200px;
    }
    .message{
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
      margin-top: 30px;

    }

  }
  
  














  